/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Estilos globales*/
body {
    background-image: linear-gradient(#74473c, #f5eeec);
}

#contenedor {
    width: 95%;
    margin: 0 auto;
    max-width: 100%;

}

#contenedor header {
    background: black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#contenedor ul li {
    display: inline;
}

#contenedor ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 15px;
}    

#contenedor header img {
    width: 300px;
    height: 300px; 
    margin-bottom: 10px;
}

a {
    transition: background-color .1s;
}

a:hover{
    background-color: #AB9089;
}

#footer .redes img {
    width: 25px;
    height: 25px;
    
}

/* inicio*/
main h1 {
    font-size: 60px;
    text-align: center;
    max-width: 100%;
}

main p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: 100%;
}

.local {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.estudio {
    padding: 10px; 
    margin: 10px; 
    width: 750px;
    height: 450px;
    max-width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    
}   

/*responsive página inicio*/
@media (max-width: 768px) {
    .local {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
}
 
h2 {
    font-size: 40px;
    text-align: center;
} 


/*quienes somos*/
section p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 950px;
}


/*fotos*/
.grid {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    padding-bottom: 100px;
   
}

.tatuaje {
    border: 5px solid black;
    border-radius: 10px;
    background: black;
    width: 230px;
    height: 300px;
    margin: 10px;
}

/*responsive pág fotos*/
@media (max-width: 768px) {
    .grid {
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
}   


/*staff*/
.flex-container {    
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.flex-item {
    border:5px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}       

.flex-item img {
    width: 250px;
    height: auto
}
span {
    font-size: 25px;
    font-family: comic sans-serif;
}


/*responsive pág staff*/
@media (max-width: 768px) {
    .flex-container {    
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .flex-item {
        border:5px solid black;
        background-color: black;
        color: white;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    } 
}

/*responsive menu*/
@media (max-width: 768px) {
    #contenedor ul li {
        display: block;
    }
    
    #contenedor ul li a {
        color: white;
        padding: 5px;
        text-decoration: none;
        font-size: 25px;
    }
} 

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo1 {
    text-align: center;
    font-size: 35p;
    padding-bottom: .9em;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 ;
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
    grid-column: 1 / 3;

}
.contact-form form p {
    margin: 0;
    padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
}

.contact-form form button {
    background-color: red;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: rgb(189, 124, 50);
    color: rgb(184, 184, 9);
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul {
    list-style: none;
    padding: 0;
}
.contact-info ul li {
    padding: 0.2em;
}

@media (min-with: 700px) {
    body {
        padding: 0 4rem;
    }
    .content-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
