/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Estilos globales*/
body {
    background-image: linear-gradient(#74473c, #f5eeec);
}

#contenedor {
    width: 95%;
    margin: 0 auto;
    max-width: 100%;

}

#contenedor header {
    background: black;
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#contenedor ul li {
    display: inline;
}

#contenedor ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}    

#contenedor header logo img {
    width: 300px;
    height: auto; 
    margin-bottom: 10px;  
}

a {
    transition: background-color .1s;
}

a:hover{
    background-color: #AB9089;
}

#footer .redes img {
    width: 25px;
    height: auto;
}

/* inicio*/
main h1 {
    font-size: 60px;
    text-align: center;
    max-width: 100%;
}

main p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: 100%;
}

.estudio3 {
    padding: 10px; 
    margin: 10px; 
    float: left; 
    width: auto;
    max-width: 100%;
}

.estudio {
    padding: 10px; 
    margin: 10px; 
    float: center; 
    width: 1020px;
    max-width: 100%;
}   
 
.subtitulos {
    font-size: 40px;
    text-align: center;
} 


/*quienes somos*/
section p {
    font-size: 25px;
    font-family: comic sans-serif; 
    height: 1000px;
}


/*fotos*/
.grid {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    padding-bottom: 1000px;
}

.tatuaje {
    border: 5px solid black;
    background: black;
    width: 230px;
    height: 300px;
    margin: 10px;
}

/*responsive pág fotos*/
@media (max-width: 796px) {
    .grid {
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        /*padding-bottom: 1000px;*/
    }
}   


/*staff*/
.flex-container {    
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.flex-item {
    border:5px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
}       

.flex-item img {
    width: 250px;
    height: auto
}

/*animacion, cambio de color en subtitulos*/
.subtitulos { 
    color: black;
    animation-name: anima;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anima {
    0% {
        color: aqua;
    }
    50% {
        color: beige;
    }
    100% {
        color: violet;
    }
}

/*responsive pág staff*/
@media (max-width: 796px) {
    .flex-container {    
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .flex-item {
        border:5px solid black;
        background-color: black;
        color: white;
        font-size: 20px;
    } 
}

/*responsive menu*/
@media (max-width: 796px) {
    #contenedor ul li {
        display: block;
    }
    
    #contenedor ul li a {
        color: white;
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
    }
} 

/*contacto*/
.form {
    font-size: 20px;
    font-family: comic sans-serif; 
}


